@media screen and (max-width:820px) {
 .section2{
    margin-top: 200px;
 }   
 .start1{
    margin-top: 200px;
    padding: 10px;
 }
 .section1{
    margin-top: 200px;
 }
 label{
    font-size: 20px;
 }
}
@media screen and (max-width:1024px) {
 .section2{
    margin-top: 250px;
 }   
 .start1{
    margin-top: 250px;
    padding: 10px;
 }
 .section1{
    margin-top:250px;
 }
 label{
    font-size: 20px;
 }
}
@media screen and (max-width:450px) {
 .section2{
    width: 80%;
 }   
 .start1{
    width: 80%;
    padding: 10px;
 }
 .section1{
    width: 80%;
 }
 label{
    font-size: 20px;
 }
 .quest{
    font-size: 20px;
 }
 .score{
    width: 80%;
 }
 .sv5,
 .sv3,
 .sv{
    margin-left: 10px;
 }
 .marks,
 .attempt,
 .totalques{
    margin-left: 10px;
 }
}

